<h1>Welcome To My Personal Website!</h1>
<nav>
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
    About Page
    <ul>
      <li>
          <a routerLink="early-life">Early Life</a>
        </li>
        <li>
            <a routerLink="career">Career</a>
        </li>
    </ul>
    </li>
    <li>
      <a routerLink="/links">Links</a>
    </li>
    <li>
      Resume
      <ul>
          <li *ngFor="let job of jobs">
            <a routerLink="/resume/{{job.id}}">{{job.title}}</a>
          </li>
      </ul>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>